ranger
rclone
remmina
tiling-assistant
pulse
picom
neofetch
microsoft-azurevpnclient
lazygit
ibus/bus
htop
gtk-3.0
go/telemetry/local
freerdp
evolution/sources
dconf
calibre
Postman
gnome-initial-setup-done
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
i3-xdg-terminals.list
.gsd-keyboard.settings-ported
